---
// 1. 引入 Cloudflare 環境變數
import { env } from "cloudflare:workers";

import BaseHead from '../../components/BaseHead.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

// 2. 建立資料庫連線
const db = env.anneiupolan_blog_db;

// 3. 撈取所有已發布的文章，並依照建立時間 (CreatedAt) 由新到舊排序 (DESC)
const { results: posts } = await db.prepare(
  "SELECT Title, Slug, HeroImage, CreatedAt FROM Articles WHERE IsPublished = 1 ORDER BY CreatedAt DESC"
).all<{ 
  Title: string, 
  Slug: string, 
  HeroImage: string, 
  CreatedAt: string 
}>();
---

<!doctype html>
<html lang="zh-TW">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: calc(50% - 1rem);
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li:first-child {
				width: 100%;
				margin-bottom: 1rem;
				text-align: center;
			}
			ul li:first-child img {
				width: 100%;
			}
			ul li:first-child .title {
				font-size: 2.369rem;
			}
			ul li img {
				margin-bottom: 0.5rem;
				border-radius: 12px;
				/* 加入 object-fit 確保圖片比例不會因為外部連結而變形 */
				object-fit: cover;
				aspect-ratio: 2 / 1;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.date {
				margin: 0;
				color: rgb(var(--gray));
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: rgb(var(--accent));
			}
			ul a:hover img {
				box-shadow: var(--box-shadow);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
				ul li:first-child {
					margin-bottom: 0;
				}
				ul li:first-child .title {
					font-size: 1.563em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								{/* 4. 把 post.id 換成我們資料庫裡的 post.Slug */}
								<a href={`/blog/${post.Slug}/`}>
									
									{/* 5. 圖片來源改成 post.HeroImage，並使用原生 img 標籤 */}
									{post.HeroImage && (
										<img width="720" height="360" src={post.HeroImage} alt={`封面圖：${post.Title}`} />
									)}
									
									{/* 6. 綁定標題 */}
									<h4 class="title">{post.Title}</h4>
									
									<p class="date">
										{/* 7. 把資料庫的字串時間轉換為 Date 物件，交給組件格式化 */}
										<FormattedDate date={new Date(post.CreatedAt)} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>